org.geppetto.frontend.jupyter
pygeppetto
.vscode
.ipynb_checkpoints

*.egg-info
notebook.ipynb
.git

Dockerfile
Dockerfile_base
Dockerfile_dev
node_modules
webapp/build
webapp/geppetto-client
workspace
.idea
k8s
/src
x86_64
app.log
/.pytest_cache
.jupyter-config
**/*.pyc
**/__pycache__