.ipynb_checkpoints/
netpyne-ui.log
log.file
*.pyc
*.egg-info
.DS_Store
pygeppetto/
netpyne/
org.geppetto.frontend.jupyter/
*.ipynb
init.py
.vscode
.DS_Store
webapp/node_modules
webapp/geppetto-client
webapp/build
app.log
tests
netpyne_workspace
Dockerfile_mini