.ipynb_checkpoints/
netpyne-ui.log
log.file
src
*.pyc
*.egg-info
.DS_Store
pygeppetto/
netpyne/
org.geppetto.frontend.jupyter/
*.ipynb
init.py
webapp/node_modules
webapp/geppetto-client
webapp/build
netpyne_workspace
Dockerfile_mini
npm*
.vscode
app.log
utilities/x86_64
.idea
x86_64
