jupyter_geppetto==1.1.3
jupyter-client==7.0.6
jupyter-core==4.9.1
jupyter-server==1.11.2
jupyterhub==1.5.0
jupyterlab==3.2.4
neuromllite==0.5.1
netpyne==1.0.2.1
NEURON==8.0.2
numpy==1.18.5
pyecore==0.11.7
pygeppetto==0.8.1
PyLEMS==0.5.9
pyNeuroML==0.7.1