@import "variables";

@primary_color: @primaryColor;
@secondary_color: @secondaryColor;






@complementary_color:@bgLight;
@background_color_body_0: @bgRegular;
@background_color_body_50: @bgRegular;
@background_color_body_73: @bgRegular;
@background_color_body_100: @bgRegular;
@background_color_widget: rgb(255,255,255);