@spacing: 16px;

label {
  margin-top: 0px;
}

input[type="text"], input[type="number"]{
  box-shadow: none!important;
  border-radius:0px!important;
  color: white!important;
  font-size: inherit;
}

div.MuiExpansionPanelSummary-root {	
  h2 {	
    font-size: 1em;	
  }	

  .MuiTypography-subtitle1 {	
    font-size: 1em;	
    color    : grey;	
  }	
}

div.MuiCollapse-container .MuiCollapse-wrapper,	
div.MuiExpansionPanelSummary-root {	
  padding: @spacing;	
}	
div.MuiExpansionPanel-root.Mui-expanded {	
  margin: 2px;	
}	
.MuiExpansionPanel-root {	
  margin: 2px;	
}

label.MuiInputLabel-root
.MuiInput-root {	
  color      : #fff;	
  cursor     : text;	
  display    : inline-flex;	
  position   : relative;	
  font-size  : 1rem;	
  box-sizing : border-box;	
  align-items: center;	
  font-family: Roboto, Helvetica, Arial, sans-serif;	
  line-height: 1.1875em;	

  input {	
    line-height: 24px;	
    position                   : relative;	
    width                      : 100%;	
    border                     : none;	
    outline                    : none;	
    background-color           : rgba(0, 0, 0, 0);	
    color                      : rgba(255, 255, 255, 0.87);	
    cursor                     : inherit;	
    font                       : inherit;	
    opacity                    : 1;	
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
    height                     : 100%;	
  }	

}	

.MuiButton-root,	
.MuiFab-root {	
  font-size: 1em;	

}	

.MuiFab-root{	
  text-transform: none;	
}	

label.MuiInputLabel-root, label.MuiFormLabel-root{	
  font-weight: bold;	
  color: rgba(255, 255, 255, 0.7);	
  padding: 4px	
}	

.MuiSelect-select{	
  min-width: 72px;	
} 